/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  overflow: hidden;
}


canvas {
  background-color: #87ceeb;
  touch-action: none;
}

.container {
  display: flex;
}

.sidePanel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 230px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 1px 1px 5px rgb(0 0 0/12%);
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.96);
  padding: 10px;
  user-select: none;
}

.sidePanel h4 {
  margin: 10px 0 10px 0;
  user-select: none;
}

.sidePanel .panelTools {
  display: flex;
}

.sidePanel .panelColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tool input[type="radio"] {
  display: none;
}

.tool input[type="radio"] + .toolIcon {
  background-color: #ddd;

  width: 41px;
  height: 41px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
}

.tool input[type="radio"]:checked + .toolIcon {
  background-color: #bdbebc;
}

label {
  margin-right: 6px;
}

label span {
  display: inline-block;
}

input[type="number"] {
  width: 30px;
}

input {
  margin-right: 5px;
}

button {
  user-select: none;
}

.sidePanel li {
  padding: 2px;
}
.sidePanel li button {
  margin-right: 5px;
}

.emojiSelector {
  font-size: 2.5rem;
  background: transparent;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  border: 2px dashed #333333;
  justify-content: center;
}

.withEmoji {
  border: 2px solid;
}

.loadingModel {
  position: relative;
  height: 100vh;
  width: 100vw;
  opacity: 0.8;
  text-align: center;
  font-family: "comic sans ms";
  font-size: 2rem;
  background-color: #87ceeb;
}

.loadingModel .loadingGif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  text-align: center;
}


