/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("https://uploads.codesandbox.io/uploads/user/ed077012-e728-4a42-8395-cbd299149d62/AflB-FG_Virgil.ttf");
  font-display: swap;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
}

.sidePanel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 330px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 1px 1px 5px rgb(0 0 0/12%);
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 6px;
  background-color: hsla(0, 0%, 100%, 0.96);
  padding: 10px;
  user-select: none;
}

.sidePanel h4 {
  margin: 10px 0 10px 0;
  user-select: none;
}

.sidePanel .panelTools {
  display: flex;
}

.sidePanel .panelColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tool input[type="radio"] {
  display: none;
}

.tool input[type="radio"] + .toolIcon {
  background-color: #ddd;

  width: 41px;
  height: 41px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3px;
}

.tool input[type="radio"]:checked + .toolIcon {
  background-color: #bdbebc;
}

label {
  margin-right: 6px;
}

label span {
  display: inline-block;
}

input[type="number"] {
  width: 30px;
}

input {
  margin-right: 5px;
}

button {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  user-select: none;

  padding: 5px;
}

.sidePanel li {
  padding: 2px;
}
.sidePanel li button {
  margin-right: 5px;
}
button {
  border: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #555555;
  cursor: pointer;
  color: #fff;
}
